.Battle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/images/maps/StreetBattle.png);
  background-size: cover;
  image-rendering: pixelated;
}

.Battle_hero,
.Battle_enemy {
  position: absolute;
  transform: scale(2);
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(/assets/images/characters/shadow.png) no-repeat no-repeat;
}
.Battle_hero img,
.Battle_enemy img {
  pointer-events: none;
}

.Battle_hero {
  bottom: 57px;
  left: 1px;
}

.Battle_hero img {
  transform: translateY(-64px); /*set different img from spritesheet */
}

.Battle_enemy {
  top: 42px;
  right: -1px;
}

.battle-damage-blink {
  animation: battle-damage-blink 0.3s steps(2, start) infinite;
}

.battle-spin-right {
  animation: battle-spin-right 0.5s;
}

.battle-spin-left {
  animation: battle-spin-left 0.5s;
}

/* Animations */
@keyframes battle-damage-blink {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes battle-spin-right {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
  25% {
    transform: translate3d(140px, -30px, 0) rotate(45deg) scale(2);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
}
@keyframes battle-spin-left {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
  25% {
    transform: translate3d(-120px, 50px, 0) rotate(45deg) scale(2);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
}
