@charset "utf-8";

body {
  color: #333;
  font-size: 15px;  
  line-height: 1.5;
}


    

      .section {
        padding: 30px 15px;
      }
      .section.section-second {
        background-color: rgb(191, 186, 186)
      }
      .section-headline {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0 0 40px;
      }
      .about {
        margin: 0;
        display: flex;
      }
      /*.about-image {}*/
      .about-caption {
        padding-left: 15px;
      }
      .about-head-line {
        margin: 0 0 20px;
        font-size: 30px;
      }
      /*.about-descriptio {}*/

  

      .grid {
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
      }
      .grid-item {
          list-style: none;
      }
       .grid-col-2 > .grid-item {
        width: 50%;
      }
       .grid-col-3 > .grid-item {
        width: 33.33%;
      }
      .grid-col-4 > .grid-item {
        width: 25%;
      }
                